In [2]:
print(1+1)

2

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
a = int(input("Enter the value a :"))
print(a+2)

6

In [5]:
value = "Hello" + str(5)
print(value,type(value))

Hello5 <class 'str'>

In [1]:
for i in range(3):
    print(i)
    for j in range(2):
        print(" ",j)

0
  0
  1
1
  0
  1
2
  0
  1

In [4]:
# PRIME number between 1-100
for i in range(1,101):
    if i>1:
        for j in range(2,i):
            if i%j == 0:
                break
        else:
            print(i, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
# *args
# Used for variable number of positional  (non keyword) arguments.
def add_all(*args):
    return sum(args)

print(add_all(1, 2, 3, 4))

10

*args Non Keyword argument→ tuple of positional args

**kwargs Keyword argument→ dict of keyword args

In [ ]:
# **kwargs
# Used for variable number of keyword arguments.
def print_info(**kwargs):
    for k, v in kwargs.items():
        print(k, v)

print_info(name="BMW", role="C++ Developer")

name BMW
role C++ Developer

In [3]:
value = []
print(type(value))

<class 'list'>

In [ ]:
# [:] creates a shallow copy that contains all elements of the sequence, from beginning to end.
value = ['Anupam','Sharma','hsbc','123']
print(len(value[:]))
print(value[1:3])
print(value[-1:])
print(value[1:])
print(value[:-1])

4
['Sharma', 'hsbc']
['123']
['Sharma', 'hsbc', '123']
['Anupam', 'Sharma', 'hsbc']

In [ ]:
a = [1, 2, 3]
b = a[:]

a.append(4)

print(a)  # [1,2,3,4]
print(b)  # [1,2,3]

# b does NOT change — because it’s a separate list.

[1, 2, 3, 4]
[1, 2, 3]

In [4]:
# But if the list contains mutable objects:
# Because it's shallow copy, inner objects are shared.
a = [[1,2], [3,4]]
b = a[:]

a[0].append(99)

print(a) # [[1,2,99], [3,4]]
print(b) # [[1,2,99], [3,4]]  # same!

[[1, 2, 99], [3, 4]]
[[1, 2, 99], [3, 4]]

In [5]:
value[1] = 'ANUPAM'
print(value)

['Anupam', 'ANUPAM', 'hsbc', '123']

In [6]:
value.append("123444")
print(value)

['Anupam', 'ANUPAM', 'hsbc', '123', '123444']

In [7]:
value.remove("123444")
print(value)

['Anupam', 'ANUPAM', 'hsbc', '123']

In [8]:
new_lst = value.pop()
print(new_lst)
print(value)

123
['Anupam', 'ANUPAM', 'hsbc']

In [9]:
value.sort()
print(value)
value.reverse()
print(value)

['ANUPAM', 'Anupam', 'hsbc']
['hsbc', 'Anupam', 'ANUPAM']

In [10]:
value.append("Pune")
print(value)

['hsbc', 'Anupam', 'ANUPAM', 'Pune']

In [11]:
for i in value:
    print(i)
    print(type(i))

hsbc
<class 'str'>
Anupam
<class 'str'>
ANUPAM
<class 'str'>
Pune
<class 'str'>

In [12]:
# enumerate is used for index for each value in the list
for index,value in enumerate(value):
    print(index,value)

0 hsbc
1 Anupam
2 ANUPAM
3 Pune

In [13]:
lst =[]
for x in range(2,10):
    lst.append(x**2)
print(lst)

[4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
# list comprehension
[num for num in range(10,30) if num%2 == 0]

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [15]:
lst1 = ['Anupam','Sharma','hsbc','123']
lst2 = ['a','b','c','d']
pair = [(x,y) for x in lst1 for y in lst2]
print(pair)

[('Anupam', 'a'), ('Anupam', 'b'), ('Anupam', 'c'), ('Anupam', 'd'), ('Sharma', 'a'), ('Sharma', 'b'), ('Sharma', 'c'), ('Sharma', 'd'), ('hsbc', 'a'), ('hsbc', 'b'), ('hsbc', 'c'), ('hsbc', 'd'), ('123', 'a'), ('123', 'b'), ('123', 'c'), ('123', 'd')]

In [34]:
lst1 = ['Anupam','Sharma','hsbc','123']
length = [len(x) for x in lst1]
print(length)

[6, 6, 4, 3]

In [36]:
original_list = [2,3.75,.04,59.354,6,7.7777,8,9]
only_ints = [num for num in original_list if type(num) == int]
print(only_ints)

[2, 6, 8, 9]

In [37]:
# Find all of the numbers from 1-1000 that are divisible by 7
num_divisible_by7 = [num for num in range(1,1001) if num%7==0]
print(num_divisible_by7)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [40]:
# Find all of the numbers from 1-1000 that have a 3 in them
num_3 = [num for num in range(1,1001) if '3' in str(num)]
print(num_3)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

In [46]:
# Create a list of all the consonants in the string “Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams”
str = ["Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams"]
consonants = [char for char in str[0] if char.isalpha() and char.lower() not in 'aeiou']
print(consonants)

['Y', 'l', 'l', 'w', 'Y', 'k', 's', 'l', 'k', 'y', 'l', 'l', 'n', 'g', 'n', 'd', 'y', 'w', 'n', 'n', 'g', 'n', 'd', 'y', 's', 't', 'r', 'd', 'y', 't', 'h', 'y', 'y', 'd', 'l', 'd', 'w', 'h', 'l', 't', 'n', 'g', 'y', 'k', 'y', 'y', 'm', 's']

In [47]:
# Get the index and the value as a tuple for items in the list “hi”, 4, 8.99, ‘apple’, (‘t,b’,’n’). Result would look like (index, value), (index, value)
lst = ["hi", 4, 8.99, 'apple', ('t,b', 'n')]
res = [(index, value) for index, value in enumerate(lst)]
print(res)

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n'))]

In [50]:
# Find the common numbers in two lists (without using a tuple or set) list_a = 1, 2, 3, 4, list_b = 2, 3, 4, 5
list_a = [1, 2, 3, 4]
list_b = [2,3,4,5]
common = [a for a in list_a if a in list_b]
print(common)

[2, 3, 4]

In [19]:
list1= [2,3,4,5,6,7,7,199]
list2 = [23,2,3,1,8,9]
different = [a for a in list1 if a not in list2]
print(different)

[4, 5, 6, 7, 7, 199]

In [20]:
uniq = {1,2,3,4}
print(type(uniq))

<class 'set'>

In [21]:
my_Set = {1,2,3,4,5,6,7,8,9,10}
my_Set.add(11)
print(my_Set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [23]:
removed_element = my_Set.pop()
print(removed_element)
print(my_Set)

2
{3, 4, 5, 6, 7, 8, 9, 10, 11}

In [24]:
set1={1,2,3,4,5}
set2 = {6,7,8,9,10,2}
union_set = set1.union(set2)
print(union_set)
inter_set = set1.intersection(set2)
print(inter_set)

x = {'apple', 'banana', 'cherry'}
y = {'google', 'microsoft', 'apple'}
z = x.intersection(y)
print(z)

x.intersection_update(y)
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2}
{'apple'}
{'apple'}

In [25]:
# counting unique word in text
text = "Hello world! This is a test. Hello again, world!"
words = text.split()
print(words)

uniq = set(words)
print(uniq)
print(len(uniq))

['Hello', 'world!', 'This', 'is', 'a', 'test.', 'Hello', 'again,', 'world!']
{'a', 'test.', 'Hello', 'This', 'world!', 'is', 'again,'}
7

In [26]:
# dictionary
dict1 = {}
print(type(dict1))
dict2= dict()
print(type(dict2))

<class 'dict'>
<class 'dict'>

In [27]:
# accessing dict
student = {"name":"Anupam","organization":"hsbc","age":"24","city":"Pune"}
print(student)
print(student['name'])
print(student.get('last_name'),"Not Available")

{'name': 'Anupam', 'organization': 'hsbc', 'age': '24', 'city': 'Pune'}
Anupam
None Not Available

In [28]:
student['last_name'] = 'Sharma' #added new value
student['age'] = 25 #updated the value
print(student)

{'name': 'Anupam', 'organization': 'hsbc', 'age': 25, 'city': 'Pune', 'last_name': 'Sharma'}

In [29]:
keys1 = student.keys()
print(keys1)
print(student.values())
student.items()

dict_keys(['name', 'organization', 'age', 'city', 'last_name'])
dict_values(['Anupam', 'hsbc', 25, 'Pune', 'Sharma'])

dict_items([('name', 'Anupam'), ('organization', 'hsbc'), ('age', 25), ('city', 'Pune'), ('last_name', 'Sharma')])

In [30]:
# shallow copy
student= dict(name="Anupam", organization="hsbc", age=24, city="Pune")
print(student)
student_copy = student.copy()
print(student_copy)
student['name'] = "Anupam1"
print(student)
print(student_copy)

{'name': 'Anupam', 'organization': 'hsbc', 'age': 24, 'city': 'Pune'}
{'name': 'Anupam', 'organization': 'hsbc', 'age': 24, 'city': 'Pune'}
{'name': 'Anupam1', 'organization': 'hsbc', 'age': 24, 'city': 'Pune'}
{'name': 'Anupam', 'organization': 'hsbc', 'age': 24, 'city': 'Pune'}

In [31]:
# Iterating in dict
for key in student:
    print(f"{key}: {student[key]}")

name: Anupam1
organization: hsbc
age: 24
city: Pune

In [32]:
# nested dictionaries
nested_dict = {
    "student1": {"name": "Anupam", "age": 24},
    "student2": {"name": "John", "age": 22}
}
print(nested_dict)
for Studentkey,student_info in nested_dict.items():
    print(f"{Studentkey}: {student_info}")
    for key,value in student_info.items():
        print(f"{key}: {value}")

{'student1': {'name': 'Anupam', 'age': 24}, 'student2': {'name': 'John', 'age': 22}}
student1: {'name': 'Anupam', 'age': 24}
name: Anupam
age: 24
student2: {'name': 'John', 'age': 22}
name: John
age: 22

In [107]:
# Dictionary comprehension
square = {x: x**2 for x in range(1, 11)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [110]:
odd = {x: x**2 for x in range(1, 11) if x % 2 != 0}
print(odd)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [11]:
# Use dictionary to count the frequency of element in list
# number = [1, 2, 3,3,4,2,1,1,2,1,1,3,5,2]
number = "Immo sit sane nihil melius, inquam-nondum enim id quaero-, num propterea idem voluptas est, quod, ut ita dicam, indolentia"
frequency = {}
for number in number:
    if number in frequency:
        frequency[number] += 1
    else:
        frequency[number] = 1
print(frequency)

{'I': 1, 'm': 9, 'o': 7, ' ': 18, 's': 5, 'i': 12, 't': 7, 'a': 8, 'n': 9, 'e': 9, 'h': 1, 'l': 4, 'u': 8, ',': 5, 'q': 3, '-': 2, 'd': 6, 'r': 3, 'p': 3, 'v': 1, 'c': 1}

In [112]:
dict1={ "name": "Anupam"}
dict2 = {"name": "Anupam", "age": 24, "city": "Pune"}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'name': 'Anupam', 'age': 24, 'city': 'Pune'}

In [115]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [3]:
####Function

def fun(a,b):
    return a+b
result  = fun(2,2)
print(result)

4

In [4]:
# Variable length arguments
# Positional and keywords arguments
def fun1(*args):
    for val in args:
        print(val)

In [5]:
fun1(1,2,3,4,5,6,7,"Anupam","Sharma")

1
2
3
4
5
6
7
Anupam
Sharma

In [6]:
# keyword argument
def fun2(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [7]:
fun2(name="Anupam", age=24, city="Pune")

name: Anupam
age: 24
city: Pune

In [10]:
# Temperature conversion
def temcon(temp,unit):
    if unit == 'C':
        return temp * 9/5 + 32
    elif unit == 'F':
        return (temp - 32) * 5/9
    else:
        None
temcon(25,'F')

-3.888888888888889

In [2]:
# Check if string is Palindrome
# "Aba"--> "Aba"
def isPalindrome(s):
    s = s.lower().replace(" ","")
    return s == s[::-1]
print(isPalindrome("Aba"))  # True

True

In [7]:
# Factorial using recursion
def factorial(n):
    if n==0:
        return 1
    else:
        return (n * factorial(n-1))

print(factorial(6))

720

In [8]:
# count word frequency from file
def count_word_frequency(file_path):
    try:
        with open(file_path, 'r') as file:
            text = file.read()
            words = text.split()
            frequency = {}
            for word in words:
                word = word.lower().strip('.,!?";:()[]{}')  # Normalize the word
                if word in frequency:
                    frequency[word] += 1
                else:
                    frequency[word] = 1
            return frequency
    except FileNotFoundError:
        print("File not found.")
        return {}
    
result = count_word_frequency('sample.txt')
print(result)

{'hello': 3, 'world': 2, 'universe': 1}

In [9]:
# lambda argument:expression
addition = lambda a,b : a+b 
print(addition(5,7))

12

In [10]:
# Lambda function to check if a number is prime
is_prime = lambda num: all([(num%j) for j in range(2, int(num**0.5) + 1)]) and num > 1

# Test the function
print(is_prime(2))  # True
print(is_prime(4))  # False
print(is_prime(17))  # True

True
False
True

In [16]:
num = 18
# list_value = ([(num%j) for j in range(2, int(num**0.5) + 1)])
# print(list_value)

for j in range(2,int(num ** 0.5) + 1):
    print(j)

2
3
4

In [20]:
print(int(10**0.5) + 1)
for j in range(2,4):
    print(j)

4
2
3

In [25]:
# map function --> applies to all function in a list 
numbers = [1,2,3,4,5,6]
squared = list(map(lambda x: x**2, numbers))
print(squared)

[1, 4, 9, 16, 25, 36]

In [28]:
# map multiple iterables
numbers1 = [1,2,3,4,1]
numbers2 = [4,3,1,4,78]
added_num = list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_num)

[5, 5, 4, 8, 79]

In [30]:
# map to convert list of string to integers
str_num = ["1","2","3","4"]
int_number = list(map(int,str_num))
print(int_number)

[1, 2, 3, 4]

In [31]:
fruit = ["apple",'banana','cherry']
upper_word = list(map(lambda x: x.upper(), fruit))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [36]:
# To fetch name from dictionary using map
students = [
    {"name": "Anupam", "age": 24},
    {"name": "John", "age": 22},
    {"name": "Alice", "age": 23}
]
student_name = list(map(lambda student: student['name'], students))
student_age = list(map(lambda student: student['age'], students))
print(student_name)
print(student_age)

['Anupam', 'John', 'Alice']
[24, 22, 23]

In [38]:
# filter function
# The filter function constructs an iterator from element of an iterable for which a function return true.
# It is used to filter out items from a list based on a condition
lst = [1,2,3,4,5,6,7,8,9,10]
even = list(filter(lambda x:x%2==0,lst))
print(even)

[2, 4, 6, 8, 10]

In [80]:
num = [3, 8, 2, 10, 5]
largest = list(filter(lambda x: x == max(num), num))
print(largest[0])

10

In [39]:
# Filter with lambda function and multiple condition
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_and_greater_than_five = list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_and_greater_than_five)

[6, 8, 10]

In [47]:
# filter to check if the age is greater than 18 in dict
students = [
    {"name": "Anupam", "age": 24},
    {"name": "John", "age": 18},
    {"name": "Alice", "age": 23}
]

# Create a list of tuples (name, age)
student_age = list(map(lambda student: (student['name'], student['age']), students))
print(student_age)

# Filter students with age greater than 18
age_above_18 = list(filter(lambda student: student[1] > 18, student_age))

print(age_above_18)

[('Anupam', 24), ('John', 18), ('Alice', 23)]
[('Anupam', 24), ('Alice', 23)]

In [61]:
# Square of side 'N'
# Input: 3
# Output: ['***', '***', '***']
 
# Input: 5
# Output: ['*****', '*****', '*****', '*****', '*****']

def genrate_square(n):
    return list(map(lambda x:'*' * n,range(n)))
print(genrate_square(5))

['*****', '*****', '*****', '*****', '*****']

In [64]:
# Hollow Square of side 'N'
# Input: 3
# Output: ['***', '* *', '***']
 
# Input: 5
# Output: ['*****', '*   *', '*   *', '*   *', '*****']

def hollow_square(n):
    return list(map(lambda i: '*' * n if i == 0 or i == n - 1 else '*' + ' ' * (n - 2) + '*', range(n)))
print(hollow_square(7))

['*******', '*     *', '*     *', '*     *', '*     *', '*     *', '*******']

In [65]:
# Right angled triangle
# Input: 3
# Output: ['*', '**', '***']
 
# Input: 5
# Output: ['*', '**', '***', '****', '*****']

def right_angled_triangle(n):
    return list(map(lambda x: '*' * (x + 1), range(n)))
print(right_angled_triangle(5))

['*', '**', '***', '****', '*****']

In [69]:
# Inverted Right Angled Triangle
# Input: 3
# Output: ['***', '**', '*']
 
# Input: 5
# Output: ['*****', '****', '***', '**', '*']

def inverted_right_angled_triangle(n):
    return list(map(lambda x: '*' * (n - x), range(n)))
print(inverted_right_angled_triangle(5))

['*****', '****', '***', '**', '*']

In [74]:
# Pyramid Pattern
#  The pyramid is centered, with 1 star in the first row, 3 stars in the second row,
#  and so on, increasing by 2 stars per row until the base row has 2n - 1 stars.
# Input: 3
# Output: ['  *  ', ' *** ', '*****']
 
# Input: 5
# Output: ['    *    ', '   ***   ', '  *****  ', ' ******* ', '*********']

def pyramid_pattern(n):
    return list(map(lambda i: ' ' * (n - i - 1) + '*' * (2 * i + 1) + ' ' * (n - i - 1), range(n)))
print(pyramid_pattern(5))

['    *    ', '   ***   ', '  *****  ', ' ******* ', '*********']

In [76]:
# Inverted Pyramid Pattern
# Input: 3
# Output: ['*****', ' *** ', '  *  ']
 
# Input: 5
# Output: ['*********', ' ******* ', '  *****  ', '   ***   ', '    *    ']
def inverted_pyramid(n):
    return list(map(lambda i: ' ' * i + '*' * (2 * (n - i) - 1) + ' ' * i, range(n)))
print(inverted_pyramid(3))

['*****', ' *** ', '  *  ']

In [77]:
# Right Angled Triangle with Numbers
# Input: 5
# Output: ['1', '22', '333', '4444', '55555']
 
# Input: 3
# Output: ['1', '22', '333']

def rightanglednum(n):
    return list(map(lambda x: str(x + 1) * (x + 1), range(n)))
print(rightanglednum(5))

['1', '22', '333', '4444', '55555']

In [78]:
# Sum of List Elements
def sum_list(numbers):
    # Your code goes here
    sum = 0
    for i in numbers:
        if i>0:
            sum = sum + i
    return sum

numbers = [1, 2, 3, 4, 5]
print(sum_list(numbers))  # Output: 15

15

In [83]:
# reverse a list

lst = [1,2,3,4,5,6]
revr = list(reversed(lst))
print(revr)

lst = [1,2,3,4,5,6]
rev = lst[::-1]
print("rev",rev)

[6, 5, 4, 3, 2, 1]
rev [6, 5, 4, 3, 2, 1]

In [89]:
# Count Number of Odd and Even Elements in a List
# Input: lst = [1, 2, 3, 4, 5]
# Output: (2, 3)
# There are 2 even numbers: 2, 4
# There are 3 odd numbers: 1, 3, 5
def countoddeven(lst):
    even =  list(filter(lambda x:x%2==0,lst))
    even_count = len(even)
    odd = list(filter(lambda x : x%2 != 0,lst))
    odd_count = len(odd)
    return  (even_count,odd_count)

lst = [1,2,3,4,5]
print(countoddeven(lst))

(2, 3)

In [102]:
# Maximum difference between two consecutive elements in a list.
# Input: lst = [1, 7, 3, 10, 5]
# Output: 7

# The maximum difference is between 3 and 10 (i.e., |3 - 10| = 7).

# Input: lst = [10, 11, 15, 3]
# Output: 12

# The maximum difference is between 15 and 3 (i.e., |15 - 3| = 12).

def maxdiffcon(lst):
    diff = []
    for i in range(len(lst) - 1):
        diff.append(abs(lst[i] - lst[i+1]))
    
    return max(diff) if len(lst) > 2 else diff[0] if len(diff) > 0 else 0
    
lst = [1, 7, 3, 10, 5]
print(maxdiffcon(lst))

7

In [1]:
def maxele(lst):
    return (max(lst),min(lst))

lst = [10,11,15,3]  
print(maxele(lst))

(15, 3)

In [94]:
lst = [10,11,15,3]
diff = [0] * len(lst)
print(diff)

[0, 0, 0, 0]

In [40]:
# Rotate a List
# Input: lst = [1, 2, 3, 4, 5], k = 2
# Output: [4, 5, 1, 2, 3]

# Input: lst = [10, 20, 30, 40, 50], k = 3
# Output: [30, 40, 50, 10, 20]

def rotate_list(lst, k):
    if not lst:
        return []
    result = []
    n = len(lst)
    print("length",n)
    k = k%n
    print("Value of k",k)
    for i in range(n-k,n):
        result.append(lst[i])
    
    for i in range(0,n-k):
        result.append(lst[i])
    return result
          
# lst = [1, 2, 3, 4, 5] 
lst = [10, 20, 30, 40, 50]
k=3
print(rotate_list(lst,k))

length 5
Value of k 3
[30, 40, 50, 10, 20]

In [45]:
# Merge 2 List into Dictionary
# Input: keys = ['a', 'b', 'c'], values = [1, 2, 3]
# Output: {'a': 1, 'b': 2, 'c': 3}

# Input: keys = ['x', 'y', 'z'], values = [10, 20, 30]
# Output: {'x': 10, 'y': 20, 'z': 30}
def merge_lists_to_dictionary(keys, values):
    if len(keys) != len(values):
        return False
    return dict(zip(keys,values))
    
    
keys = ['a', 'b']
values = [1]
print(merge_lists_to_dictionary(keys, values))

False

In [ ]:
# Words Frequency in a Sentence
# Input: "hello world hello"
# Output: {'hello': 2, 'world': 1}

# Input: "the quick brown fox jumps over the lazy dog"
# Output: {'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

def count_word_frequency(sentence):
    words = sentence.split()
    frequency = {}
    for word in words:
        word = word.lower()  # Normalize the word to lowercase
        if word in frequency:
            frequency[word] += 1
        else:
            frequency[word] = 1
    return frequency

sentence = "hello world hello"
count_word_frequency(sentence)

{'hello': 2, 'world': 1}

In [2]:
sentence = "the quick brown fox jumps over the lazy dog"        
print(count_word_frequency(sentence))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

Array INTRO

In [9]:
import array
ar = array.array('i',[1,2,3,4,5])
print(ar)
ar[0] = 10
print(ar)

array('i', [1, 2, 3, 4, 5])
array('i', [10, 2, 3, 4, 5])

Searching and Sorting

In [17]:
# Linear Search arr,target  --> Return the target index if present else return -1
#Run a loop and find target

def linear_search(arr,target):
    size = len(arr)-1
    for index in range(0,size):
        if(arr[index] == target):
            return index
    return -1
    
my_list = [10,20,40,30,4]
target = 30

result = linear_search(my_list,target)
print(result)

3

Binary Search Algorithm

In [27]:
# Binary Search can only be applied to sorted array   arr = [10,23,35,45,50,70,85] target = 50
# I will consider full array/list start = 0 end = n-1  (n is whole array length)
# See the middle element mid = (end-start)//2   1st iteration => mid = 3 arr[mid] = 45 <50 
# We compare element at mid with target
# 2nd Iteration I will start with greater than mid index of previous one because mid previous value was smaller than target 
# 2nd iteration mid ==> 6+4//2 = 5 arr[mid] = 70 since 70 > 50 then we will move end to middle -1 which will be start and end at same position mid = 4+4//2 = 4 arr[mid] =50 == target
def binary_Search(arr,target):
    size = len(arr)
    start = 0
    end = size-1
    while(start <= end):
        mid = (start + end)//2
        if arr[mid] == target:
            return [mid,arr[mid]]
        elif (arr[mid] > target):
            end = mid -1
        elif (arr[mid] < target):
            start = mid + 1
        else:
            return -1
    

my_list = [10,23,35,45,50,70,85]
target = 85
result = binary_Search(my_list,target)
print(result)

[6, 85]

Bubble Sort Algorithm

In [ ]:
# arr = [12,25,11,34,90,22] 
# Start with the first element of the list.
# Compare the current element with the next element.
# If the current element is greater, swap them.
# Move to the next pair and repeat step 2 and 3 for the entire list.
# After each pass, the largest element moves to the end.
# Repeat the process for the remaining unsorted part of the list.
# Stop when no swaps are needed in a pass (the list is sorted).
# 
def bubble_sort(arr):
    n = len(arr)
    for passes in range(n):
        for i in range(0,n-1-passes):
            if(arr[i] > arr[i+1]):
                arr[i],arr[i+1] = arr[i+1],arr[i]
    return arr
     
random_list = [12,25,11,34,90,22]
result = bubble_sort(random_list)
print("Sorted List : ",result)

Sorted List :  [11, 12, 22, 25, 34, 90]

Selection Sort

In [41]:
# arr = [12,25,11,34,90,22]
# In each pass we see the array and select the minimum we swap to the right position
# Start at the first element of the list.
# Find the minimum element in the unsorted part of the list.
# Swap the minimum element with the first unsorted element.
# Move the boundary of the sorted part one step forward.
# Repeat steps 2–4 for the remaining unsorted part until the list is sorted.
def selection_sort(arr):
    n=len(arr)
    for i in range(n-1):
        min_idx = i
        for j in range(i+1,n):
            if (arr[j]<arr[min_idx]):
                min_idx = j
        arr[i],arr[min_idx] = arr[min_idx],arr[i]
    return arr    


unsorted_list = [12,25,11,34,90,22]
result = selection_sort(unsorted_list)
print("Sorted List : ",result)

Sorted List :  [11, 12, 22, 25, 34, 90]

Insertion Sort

In [44]:
# Start from the second element (index 1), considering the first element as sorted.
# Pick the current element and compare it with elements in the sorted part (to its left).
# Shift elements in the sorted part that are greater than the current element one position to the right.
# Insert the current element into its correct position in the sorted part.
# Repeat steps 2–4 for all elements until the list is sorted.
# arr = [12, 25, 11, 34, 90, 22]
def insertion_sort(arr):
    n = len(arr)
    for current in range(1,n):
        currentCard = arr[current]
        correctposition = current - 1
        while correctposition >=0 and arr[correctposition] > currentCard:
            arr[correctposition + 1] = arr[correctposition]
            correctposition -= 1
        arr[correctposition + 1] = currentCard
    
    return arr

arr = [12,25,11,34,90,22]
print(insertion_sort(arr))

[11, 12, 22, 25, 34, 90]

In [46]:
# Matrix in Python
matrix = [[col for col in range(5)] for row in range(4)]
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [ ]:
# Count negative numbers in a sorted matrix
# Parameters:
# grid (List[List[int]]): A 2D matrix with dimensions m x n, where each row and each column is sorted in non-increasing order.
# Return Values:
# Integer: The count of negative numbers in the matrix.
# Input: grid = [[4, 3, 2, 1], [3, 2, 1, -1], [1, 1, -1, -2], [-1, -1, -2, -3]] 
# Output: 7 
# Explanation: There are 7 negative numbers in the matrix.
 
# Input: grid = [[3, 2], [1, 0]] 
# Output: 0 
# Explanation: There are no negative numbers in the matrix.
# Brute force approach
"""def countNegatives(grid):
    count = 0
    for row in grid:
        for col in row:
            if col < 0:
                count +=1
    return count"""

def countNegatives(grid):
    total = 0
    cols = len(grid[0])
    for row in grid :
        start, end = 0, cols -1 
        while start <= end:
            mid = (start  + end)//2
            if row[mid] <0:
                end = mid -1
            else:
                start = mid + 1
        total += (cols-start)
    return total
                
    
input = [[4, 3, 2, 1], [3, 2, 1, -1], [1, 1, -1, -2], [-1, -1, -2, -3]]
print("Count negative : ",countNegatives(input))

Count negative 7

In [ ]:
# Find smallest letter greater than target
"""
    Return the smallest character in letters that is lexicographically greater than target.

    Parameters:
    letters (List[char]): Sorted array of characters.
    target (char): The target character.

    Returns:
    char: The smallest character greater than target, or the first character if no such character exists.
    """
# Input:
# letters = ['c', 'f', 'j']
# target = 'k'
# Output: 'c'
 
# Input:
# letters = ['c', 'f', 'j']
# target = 'c'
# Output: 'f'
 
# Input:
# letters = ['c', 'f', 'j']
# target = 'a'
# Output: 'c'

def next_greatest_letter(letters, target):
    size = len(letters)
    start,end = 0, size - 1
    result = letters[0]
    while(start<=end):
        mid = (start + end)//2
        if letters[mid] > target:
            result = letters[mid]
            end = mid -1
        else:
            start = mid + 1
    return result
letters = ['c', 'f', 'j']
target = 'c'
print("Smallest Letter greater than target :",next_greatest_letter(letters,target))

c
Smallest Letter greater than target : f

In [80]:
# Find First and Last Position of Element in Sorted Array
# Input: nums = [5, 7, 7, 8, 8, 10], target = 8 
# Output: [3, 4] 
# Explanation: The target 8 appears from index 3 to index 4.
 
 
# Input: nums = [5, 7, 7, 8, 8, 10], target = 6 
# Output: [-1, -1] 
# Explanation: The target 6 is not found in the array.
def searchRange(nums, target):
    def find_bound(is_first):
        left , right = 0 , len(nums) - 1
        bound = -1
        while left <= right:
            mid = (left + right )//2
            if nums[mid] == target:
                bound = mid
                if is_first:
                    right = mid - 1 #search left
                else:
                    left = mid + 1
            elif nums[mid] <target:
                left = mid + 1
            else:
                right = mid -1
        return bound 
    first = find_bound(True)
    last = find_bound(False)
    return [first,last]   
    
        
input = [5, 7, 7, 8, 8, 10]
target = 8
print("First and Last Position : ",searchRange(input,target))

First and Last Position :  [3, 4]